<tr>
  <td><%= food.food.name %></td>
  <td><%= food.quantity %><%= food.food.measure_unit %></td>
  <td>$<%= food.food.price %></td>
  <% if can? :manage, @recipe %>
    <td>
      <%= link_to 'Modify', "/recipes/#{@recipe.id}/recipe_foods/#{food.id}/edit" %>
      <%= link_to 'Remove', "/recipes/#{@recipe.id}/recipe_foods/#{food.id}", method: :delete, class: "ms-2 text-danger" %>
    </td>
  <% end %>
</tr>
