<p><%= @recipe.name %></p>
<div class="recipe_info_container">
  <div>
    <p>Preparation Time:<%= @recipe.preparation_time %>minutes</p>
    <p>Cooking Time:<%= @recipe.cooking_time %>minutes</p>
    <p>Steps Go Here...</p>
  </div>
  <% if can? :manage, @recipe %>
    <div>
      <p>Public:<%= @recipe.public %></p>
      <%= form_with model: @recipe, url: "/recipes/#{@recipe.id}", method: :put do |f| %>
        <div class="custom-control custom-switch">
          <%= f.label :public, 'Public:', class: "custom-control-label", for: "customSwitch1" %>
          <%= f.check_box :public, class: "custom-control-input", id: "customSwitch1", onchange: "this.form.submit();" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="recipe_btn_container">
  <div>
    <%= link_to "Generate shopping list", "#{@recipe.id}", class: "generate_shopping_btn" %>
  </div>
  <% if can? :manage, @recipe %>
    <div>
      <%= link_to "Add ingredient", "#{@recipe.id}/recipe_foods/new", class: "add_ingredient_btn" %>
    </div>
  <% end %>
</div>
<table class="recipe_foods_table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <% if can? :manage, @recipe %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @foods.includes(:food).each do |food| %>
      <%= render 'foods_row', food: food %>
    <% end %>
  </tbody>
</table>
